<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafe">
	
	<sql id="cafeColumn"> <!-- 자주 사용하는 문자열이 있으면 id 를 붙여놓고 인클루드 해서 쓸 수 있다. -->
		num,writer,title,content,viewCount,
		TO_CHAR(regdate,'YYYY.MM.DD AM HH:MI') AS regdate
	</sql>

	<insert id="insert" parameterType="cafeDto"><!-- configuration 에 별칭을 정해놔서 cafeDto 를 쓸 수 있는 것 -->
		INSERT INTO board_cafe
		(num, writer, title, content, viewCount, regdate)
		VALUES(board_cafe_seq.NEXTVAL, #{writer}, #{title},
			#{content}, #{viewCount}, SYSDATE)
	</insert>
	
	<select id="getCount" parameterType="cafeDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0) <!-- 제일 큰 번호를 얻어내는 것, null 일 때 0(기본값) 이다. -->
		FROM board_cafe
		<where>
			<if test="writer != null">
				OR writer LIKE '%'||#{writer}||'%'  <!-- 오라클에서 연결연산자 → || -->
			</if>
			<if test="title != null">
				OR title LIKE '%'||#{title}||'%'
			</if>
			<if test="content !=null">
				OR content LIKE '%'||#{content}||'%' <!-- Dto 의 Writer 를 통해 Writer 문을 구성한 것 -->
			</if>
		</where>
	</select>
	<!-- cafeDto 에 무엇이 담겼냐에 따라 WHERE 절이 달라질 수 있다. (동적쿼리) null 이냐 아니냐로 구분.다 null 이면 작성 X -->
	<!-- myBatis 에서 동적쿼리를 제공해줘서 where 를 안 써도 된다. -->
	
	<select id="getList" parameterType="cafeDto"
		resultType="cafeDto">
		SELECT *
		FROM (SELECT result1.*, ROWNUM rnum
			  FROM ( SELECT <include refid="cafeColumn"/>
					FROM board_cafe
					<where><!-- 페이징 처리를 하기 위한 목록을 얻어오는 것 -->
						<if test="writer != null">
							OR writer LIKE '%'||#{writer}||'%'  <!-- 오라클에서 연결연산자 → || -->
						</if>
						<if test="title != null">
							OR title LIKE '%'||#{title}||'%'
						</if>
						<if test="content !=null">
							OR content LIKE '%'||#{content}||'%' <!-- Dto 의 Writer 를 통해 Writer 문을 구성한 것 -->
						</if>
					</where>
					ORDER BY num DESC ) result1
			  )
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getData" parameterType="cafeDto" 
		resultType="cafeDto">
		SELECT result1.* <!-- 별칭 -->
		FROM ( SELECT <include refid="cafeColumn"/>,<!-- 카페 글 상세보기 select -->
				LAG(num, 1, 0) OVER(ORDER BY num DESC) prevNum, <!-- num 은 select 된 것/번호에서 1내림차순 했을 때 1 뒤로가기 -->
				LEAD(num, 1, 0) OVER(ORDER BY num DESC) nextNum <!-- 하나 앞선 것 0 은 리턴해 줄게 없을 때 디폴트값-->
			 FROM board_cafe
	 		<where><!-- 검색한 것의 키워드 의 이전,다음글 을 하기 위한 것-->
				<if test="writer != null">
					OR writer LIKE '%'||#{writer}||'%'  <!-- 오라클에서 연결연산자 → || 정규표현식 -->
				</if>
				<if test="title != null">
					OR title LIKE '%'||#{title}||'%'
				</if>
				<if test="content !=null">
					OR content LIKE '%'||#{content}||'%' <!-- Dto 의 Writer 를 통해 Writer 문을 구성한 것 -->
				</if>
			</where>
			 ORDER BY num DESC ) result1
		WHERE num=#{num}			
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM board_cafe
		WHERE num=#{num}
	</delete>
	
	<update id="update" parameterType="cafeDto">
		UPDATE board_cafe
		SET title=#{title},content=#{content}
		WHERE num=#{num}
	</update>
	
	<update id="addViewCount" parameterType="int">
		UPDATE board_cafe
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>
</mapper>