<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<select id="isExist" parameterType="java.lang.String" 
		resultType="string">
		SELECT id 
		FROM users
		WHERE id=#{id}
	</select>
	<update id="update" parameterType="usersDto">
		UPDATE users
		SET pwd=#{pwd}, email=#{email}
		WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="string">
		DELETE FROM users
		WHERE id=#{id}
	</delete>
	<select id="getData" parameterType="string" 
		resultType="usersDto">
		SELECT id, pwd, email, regdate
		FROM users
		WHERE id=#{id}
	</select>
	
	<select id="isValid" parameterType="usersDto"
		resultType="string">
		SELECT id
		FROM users
		WHERE id=#{id} AND pwd=#{pwd}
		<!-- and 정보로 묶었기 때문에 하나라도 잘못되면  false 다. -->
		<!-- 파라미터로 전달된 값인 UsersDto -->
	</select>
	
	<insert id="insert" parameterType="usersDto">
		INSERT INTO users
		(id, pwd, email, regdate)
		VALUES(#{id}, #{pwd}, #{email}, SYSDATE)
	</insert>
</mapper>
